numpy
pandas
transformers 
scikit-learn   
textblob 
sacremoses   
langdetect
langid
--find-links https://github.com/google/sentencepiece/releases
sentencepiece==0.1.99  # Version with pre-built wheels
torch 
joblib    
wordcloud  
seaborn 
matplotlib
streamlit>=1.32.0
                          
